body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-list-title {
  margin: 24px auto 24px;
  text-align: center;
}

.todo-page-wrapper {
  margin: 0 auto 0;
}

.filter-group {
  display: block;
  margin-bottom: 10px;
}

.search-todo {
  margin-bottom: 10px;
}

.todo-list-item span {
  width: 100%;
}

.add-task {
  margin-bottom: 16px;
}

.filter-tasks {
  margin-bottom: 16px;
}

.sign-in-form {
  margin-top: 160px;
}

.sign-up-form {
  margin-top: 160px;
}

.account-verify {
  margin-top: 50px;
}

.sign-up-form .sign-up-success a {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 16px;
}

.password-reset-form {
  margin-top: 50px;
}

.password-reset-form input {
  margin-bottom: 24px;
}

.password-reset-form2 {
  margin-top: 160px;
}

.not-found-page {
  margin-top: 160px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .sign-up-form {
    margin-top: 50px;
  }
  
  .sign-in-form {
    margin-top: 50px;
  }
}

